<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MULTIPLE</title>
    <style>
        .multiple_terminal {
            width: 48%;
            margin: 0;
            padding: 0;
            border: none;
        }

        .container {
            margin: 0;
            padding: 0;
            border: none;
            height: 800px;
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
        }
    </style>
</head>
<body>
<div class="container">
    <iframe id="m1" class="multiple_terminal" src="/"></iframe>
    <iframe id="m2" class="multiple_terminal" src="/"></iframe>
    <iframe id="m3" class="multiple_terminal" src="/"></iframe>
    <iframe id="m4" class="multiple_terminal" src="/"></iframe>
</div>
</body>
</html>